/**
 * @file
 * Seven theme specific styles for the System Status uptime widget info.
 */

.system-status-uptime_widget-info {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 25px;
}

.system-status-uptime_widget-info__header {
  background-color: #f5f5f2;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
}

.system-status-uptime_widget-info__item {
  background: #fcfcfa;
  border-top: 1px solid #ccc;
  padding: 10px 10px 20px;
  box-sizing: border-box;
  overflow-x: auto;
}

.system-status-uptime_widget-info__item-icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  vertical-align: top;
}
.system-status-uptime_widget-info__item-icon:before {
  content: "";
  background-size: 35px;
  background-position: 50% center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
.system-status-uptime_widget-info__item-icon--account:before {
  background-image: url(../images/icons/account.svg);
}
.system-status-uptime_widget-info__item-icon--psp:before {
  background-image: url(../images/icons/psp.svg);
}
.system-status-uptime_widget-info__item-icon--uptime:before {
  background-image: url(../images/icons/ratio.svg);
}

.system-status-uptime_widget-info__item-details {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 60px);
  padding-left: 10px; /* LTR */
  position: relative;
}
[dir="rtl"] .system-status-uptime_widget-info__item-details {
  padding-right: 10px;
  padding-left: 0;
}

.system-status-uptime_widget-info__item-details .button {
  margin: 1em 0 0 0;
}

@media screen and (min-width: 48em) {
  .system-status-uptime_widget-info__items {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .system-status-uptime_widget-info__item {
    flex: 1;
    flex-basis: 33%;
    width: 33%;
  }

  .system-status-uptime_widget-info__item:nth-child(2),
  .system-status-uptime_widget-info__item:nth-child(3) {
    border-left: 1px solid #ccc; /* LTR */
  }
  [dir="rtl"] .system-status-uptime_widget-info__item:nth-child(1),
  [dir="rtl"] .system-status-uptime_widget-info__item:nth-child(2) {
    border-left: 1px solid #ccc;
  }
}

@media screen and (min-width: 60em) {
  .system-status-uptime_widget-info__item-icon {
    width: 55px;
    height: 55px;
  }
  .system-status-uptime_widget-info__item-icon:before {
    background-size: 35px;
  }
}

@media screen and (max-width: 48em) {
  .system-status-uptime_widget-info__header {
    display: none;
  }
  .system-status-uptime_widget-info {
    border-top: 0;
    margin-top: 25px;
  }
}
