input[type=range] {
  /* Removes default webkit styles. */
  -webkit-appearance: none;
  /* Fix for FF unable to apply focus style bug. */
  border: 1px solid white;
  /* Required for proper track sizing in FF. */
  width: 300px;
  max-width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  max-width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0071b8;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/* Hide the outline behind the border. */
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /* Remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead. */
  background: transparent;
  /* Leave room for the larger thumb to overflow with a transparent border. */
  border-color: transparent;
  border-width: 6px 0;
  /* Remove default tick marks. */
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
