table.uptime-table {
  float: left; /* LTR */
  width: auto;
}

table.uptime-table td {
  padding: 2px;
}

div.uptime-wrap::after {
  content: '';
  display: block;
  clear: both;
}

div.uptime-wrap td.uptime-first {
  padding: 0 5px 0 5px;
  text-align: center;
  color: White;
  border-width: 3px;
  border-style: solid;
  border-color: DarkOrange !important; /* CHANGE THE COLOR HERE */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: DarkOrange !important; /* CHANGE THE COLOR HERE */
  text-shadow: Black 2px 2px 7px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

div.uptime-wrap td.uptime-last {
  padding: 1px 5px 0 5px;
  color: DimGray;
  border-width: 3px;
  border-style: solid;
  border-color: DarkOrange !important; /* CHANGE THE COLOR HERE */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: WhiteSmoke;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

div.uptime-wrap td {
  text-align: center;
}

.uptime-table,
.uptime-body,
td.uptime-notice {
  padding-right: 15px;
  border: 0 none !important;
  border-collapse: separate;
}

/* Center the copyright notice vertically with the pageratio widget.*/
table.uptime-table.notice {
  padding: 3px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table.uptime-table caption {
  padding-top: 0.3em;
  caption-side: bottom;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: smaller;
}

table.uptime-table caption a {
  text-decoration: none;
}

/*-----------------Circle-styled widget--------------------*/
.uptime-body-circle {
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.uptime-body-circle .circle-wrapper {
  margin-left: 20px;
  height: 5em;
  width: 5em;
  border-radius: 5em;
  border: 5px solid;
  border-color: #2a93ef #2a93ef #2a93ef transparent; /* CHANGE THE COLOR HERE */
  transform: rotate(-5deg);
}

.uptime-body-circle .info-wrapper {
  position: absolute;
}

.uptime-body-circle .uptime-first {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.2;
  color: #3a3a3a; /* CHANGE THE COLOR HERE */
}

.uptime-body-circle .uptime-last {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.9em;
  text-align: right;
  color: #6b6b6b; /* CHANGE THE COLOR HERE */
}

/*------------------------Diamond-styled widget-----------------------*/
.uptime-body-diamond {
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.diamond-wrapper {
  margin: 10px;
  position: relative;
}

.diamond-wrapper:before {
  content: "";
  display: block;
  width: 5.5em;
  height: 5.5em;
  transform: rotate(45deg);
  background-color: #2a93ef; /* CHANGE THE COLOR HERE */
  border-radius: 10px;
}

.uptime-body-diamond .info-wrapper {
  top: 1.5em;
  width: 5.5em;
  z-index: 100;
  position: absolute;
}

.uptime-body-diamond .uptime-first {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
  color: white;
}

.uptime-body-diamond .uptime-first span {
  font-size: 0.7em;
}

.uptime-body-diamond .uptime-last {
  font-weight: lighter;
}

/*-------------------------Signal-styled widget--------------------------*/
.uptime-body-signal {
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.uptime-body-signal .uptime-first {
  font-weight: bold;
  font-size: 1.6em;
  text-align: right;
  line-height: 1;
  color: #2a93ef; /* CHANGE THE COLOR HERE */
}

.uptime-body-signal .uptime-first span {
  font-size: 0.7em;
  vertical-align: top;
  color: #2a93ef; /* CHANGE THE COLOR HERE */
}

.uptime-body-signal .uptime-last {
  font-weight: lighter;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #003c71; /* CHANGE THE COLOR HERE */
}

.uptime-body-signal .signal-wrapper {
  display: flex;
  align-items: center;
}

.uptime-body-signal .signal-wrapper:before {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  content: "";
  background-size: contain;
  background-image: url(../images/icons/signal.svg);
}
